# Dependencies
node_modules/

# Build output
dist/
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env
.env.local

# Media (якщо великі)
assets/video/*.mp4
assets/audio/*.mp3
!assets/.gitkeep
